In [7]:
import pandas as pd

In [8]:
df = pd.read_pickle("data/session-1/exercise_2")

In [9]:
df

                         dist_left  dist_right
timestamp
2022-04-24 21:42:13.300      502.0       980.0
2022-04-24 21:42:13.350      500.0       994.0
2022-04-24 21:42:13.450      503.0       990.0
2022-04-24 21:42:13.500      498.0       991.0
2022-04-24 21:42:13.550      500.0       991.0
...                            ...         ...
2022-04-24 21:45:11.800      940.0      1017.0
2022-04-24 21:45:11.850      934.0      1005.0
2022-04-24 21:45:11.900      941.0      1003.0
2022-04-24 21:45:11.950      941.0      1014.0
2022-04-24 21:45:12.000      944.0      1020.0

[3087 rows x 2 columns]

In [ ]:
# Number of sets/reps